@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Glass+Antiqua&display=swap');

:root {
    --cor0: #F7D500;
    --cor1: #ED7D3A;
    --cor2: #2DBF71;
    --cor3: #EF2356;
    --cor4: #363537;
    --cor5: #FFFFFF;
}

main#article {
    width: calc(100vw - 265px);
    height: 100vh;
    margin-top: 80px;
    margin-left: 265px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

main#article > section#topo {
    width: 100%;
    max-width: 1400px;
    margin-left: 0px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main#article > section#topo > section#imagem {
    width: 55%;
    max-width: 800px;
}

main#article > section#topo > section#imagem > img {
    width: 95%;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

main#article > section#topo > section#info {
    width: 45%;
    max-width: 800px;
    margin-top: -275px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#article > section#topo > section#info > section#dados-rapidos {
    margin-top: 100px;
    align-self: flex-end;
}

main#article > section#topo > section#info > section#dados-rapidos > p {
    font-size: 0.9em;
    line-height: 0.8em;
}

main#article > section#topo > section#info > section#interacao-perfil-data {
    width: 100%;
    margin-top: -150px;
    margin-left: 50px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main#article > section#topo > section#info > section#interacao-perfil-data > div#perfil-data > a#user {
    margin-top: 0px;
}

main#article > section#needs-video {
    width: 45%;
    max-width: 770px;
    max-height: 1300px;
    margin-top: -15%;
    margin-left: 55%;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

main#article > section#needs-video > section#video {
    width: 35vw;
    height: 19.68vw;
}

main#article > section#needs-video > section#video > video {
    width: 85%;
    height: 85%;
    margin-left: 25px;
}

main#article > section#passos {
    width: 35vw;
    height: 425px;
    margin-top: -850px;
    margin-left: -600px;

    flex-shrink: 0;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

main#article > aside#seccao-nutricional {
    width: 40vw;
}

main#article > aside#mais-conteudos {
    width: 65vw;
    margin: auto;
}

main#article > aside#mais-conteudos > div {
    width: 100%;
}

main#article > aside#mais-conteudos > div > a {
    width: 25%;
}
