@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Glass+Antiqua&display=swap');

:root {
    --cor0: #F7D500;
    --cor1: #ED7D3A;
    --cor2: #2DBF71;
    --cor3: #EF2356;
    --cor4: #363537;
    --cor5: #FFFFFF;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
    font-weight: 600;
}

h1 {
    font-family: "Glass Antiqua", sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Akaya Kanadaka", sans-serif;
    font-size: 1.6em;
    padding: 20px 0px 0px 0px;
}

header#cabecalho-principal {
    width: 100vw;
    padding: 8px 20px 0px 20px;
    position: fixed;
    background-color: var(--cor5);

    top: 0;
    left: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
}

header#cabecalho-principal > h1 {
    margin-left: 7px;
}

header#cabecalho-principal > form {
    visibility: hidden;
}

header#cabecalho-principal > form > input {
    width: 0vw;
}

header#cabecalho-principal > div {
    width: 35vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

header#cabecalho-principal > div > a {
    padding: 8px;
    color: var(--cor4);
    text-decoration: none;
}

header#cabecalho-principal > div > a#add_box {
    display: none;
}

header#cabecalho-principal > div > a > span {
    font-size: 1.7em;
}

header#cabecalho-principal > div > a > img {
    width: 35px;
    border-radius: 50%;
    margin: 0px 10px;
}

main#index {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#index > nav#menu-selecao-topo {
    width: 90vw;
    margin-top: 110px;
    margin-bottom: -85px;
    margin-left: -7vw;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

main#index > nav#menu-selecao-topo > ul {
    width: 100%;
    list-style: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

main#index > nav#menu-selecao-topo > ul > li {
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

main#index > nav#menu-selecao-topo > ul > li:hover {
    transform: scale(110%);
}

main#index > nav#menu-selecao-topo > ul > li > a {
    width: 110px;
    height: 20px;
    color: var(--cor4);
    text-decoration: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
    cursor: pointer;
}

main#index > nav#menu-selecao-topo > ul > li > a:hover {
    color: var(--cor1);
}

main#index > nav#menu-selecao-topo > ul > li > a > img {
    width: 25px;
}










main#index > article {
    width: 100vw;
    margin-top: 100px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#index > article > header {
    width: 90%;
    padding: 12px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main#index > article > header > span.data {
    font-size: 0.8em;
    font-weight: lighter;
}

main#index > article > header > a {
    text-decoration: none;
    color: var(--cor4);
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main#index > article > header > a > img {
    width: 37.5px;
    border-radius: 50%;
    margin-right: 10px;
}

main#index > article > section {
    width: 92.5%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#index > article > section > a {
    width: 100%;
}

main#index > article > section > a > img {
    width: 100%;
    border-radius: 30px;
}

main#index > article > section > aside.dados {
    margin-left: 5%;
    align-self: flex-start;
}

main#index > article > section > aside.dados > h2 {
    margin-top: -10px;
}

main#index > article > section > aside.dados > p {
    font-size: 0.9em;
    font-weight: normal;
    margin: 10px 0px 15px 0px;
}

main#index > article > aside {
    width: 92.5%;
    margin-top: 10px;

    position: relative;
}

main#index > article > aside > div.icones {
    width: 240px;
    position: absolute;
    right: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main#index > article > aside > div.icones > span {
    width: 60px;
}

main#index > article > aside > div.numeros {
    width: 120px;
    position: absolute;
    top: 40px;
    right: 120px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main#index > article > aside > div.numeros > span {
    width: 60px;
}


main#index > article > aside > div.icones > span {
    font-size: 1.8em;
}

main#index > article > aside > div.icones > span > img, main#index > article > aside > div.icones > span {
    transition: 0.3s;
    cursor: pointer;
}

main#index > article > aside > div.icones > span > img:hover, main#index > article > aside > div.icones > span:hover {
    transform: scale(115%);
}

main#index > article > aside > div.numeros > span {
    font-size: 0.9em;
}
















aside.pessoas-desktop {
    display: none;
}

aside.pessoas-mobile {
    width: 100vw;
    height: 500px;
    margin-top: 75px;
    position: relative;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

aside.pessoas-mobile > h2 {
    display: block;
    position: absolute;
    top: 40px;
    left: 20%;
    padding-bottom: 50px;
    color: var(--cor2);
}

aside.pessoas-mobile > nav {
    width: 240%;
    height: 500px;
    position: absolute;
    top: 75px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

aside.pessoas-mobile > nav > ul {
    list-style: none;
    margin-top: -80px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

aside.pessoas-mobile > nav > ul > li {
    width: 300px;
    height: 375px;
    margin: 40px 10px 10px 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: var(--cor5);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    scroll-snap-align: center;
    scroll-snap-stop: always;
}

aside.pessoas-mobile > nav > ul > li > a {
    text-align: center;
    text-decoration: none;
    color: var(--cor4);
    margin-top: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

aside.pessoas-mobile > nav > ul > li > a > img {
    width: 85px;
    border-radius: 50%;
    margin-top: 0px;
}

aside.pessoas-mobile > nav > ul > li > button {
    color: var(--cor5);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 20px;
    border: none;
}

aside.pessoas-mobile > nav > ul > li > button.seguir {
    background-color: var(--cor3);
}

aside.pessoas-mobile > nav > ul > li > button.a-seguir {
    background-color: var(--cor0);
}









aside.menu {
    display: none;
}

footer.menu {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 12px 35px;
    padding-bottom: max(12px, env(safe-area-inset-bottom));
    background-color: var(--cor5);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
}

footer.menu > a {
    color: var(--cor4);
    text-decoration: none;
}

footer.menu > a.ativo {
    color: var(--cor0);
}

footer.menu > a > span {
    font-size: 1.65em;
}